@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'Lato', 'Helvetica-Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica-Neue', 'Helvetica', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0px;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
	margin: 0;
}

h3 {
	font-size: 125%;
}

header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom-width: 5px;
	border-bottom-color: #EA4A00;
	color: #FFFFFF;
}

main {
	background-image: url('../img/ricepaper_v3.png');
	opacity: 0.9;
}

header p {
	display: none;
	font-size: 120%;
	margin: 0px;
	color: #EEEEEE;
}

#location {
	padding: 1em;
}

#menu {
	padding: 1em;
	background-color: rgba(207, 205, 140, 0.5);
}

#menu dt {
	font-weight: 400;
}

#menu dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

#about {
	padding: 1em;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border-top-width: 5px;
	border-top-color: #EC791F;
	font-size: 80%;
	text-align: right;
}

.copyright {
	font-style: italic;
}

.container-fluid {		
	margin-top: 0;
	margin-bottom: 0;
}

a:link, 
a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #0000EE;
}

li a:link,
li a:visited {
	color: #55E;
}

li a:hover, 
li a:focus {
	color: #00E;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

@media (min-width: 992px) {
	body {
		background-image: url('../img/background.jpg');
		background-size: cover;
		background-attachment: fixed;
		font-size: 18px;
		font-weight: 300;
	}

	header {
		position: relative;
	}

	header p {
		display: inline;
	}

	.container-fluid {
		margin-left: 30%;
		margin-top: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	main {
		margin-left: 30%;
		margin-top: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	nav {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
